<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* In order to place the tracking correctly */
        canvas.drawing, canvas.drawingBuffer {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <!-- Div to show the scanner -->
    <div id="barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>

<script src="https://unpkg.com/scandit-sdk"></script>
<script>
    console.log('Loading...');
    ScanditSDK.configure("AZlc1TBcLSQXAyefJQB4KLYrRrRhHEGW4n64uxJ7csKIMkHMu00sF35ftlj/Q9GU1V2Sh/N7wsdxKNti90UB5GhHAuqhW0Z3NCxGX41l/P71AMxQiChIMDEWsVLP+PPAKCYTpbRQ255BqinuA+5Rc0frVTjOIb/dUS4ZMsjsqjoi60wfO5zzhZRrbP/yGPwkHzNiB803mhcoIJgH/0G6v65yvMC5lV7BZXzG8sSgvA6cPcvmg1RSm4H377VGlmjXtubM3DC+sA/gKXv2BuNzR8mvarfp3lMx6Wt6WNdSk1Kujzz6f3KOGh9rBLXDCL3zmvkQAz0TnquGJ2NwO26IjQbcepCvcDwBD0QOpEDMen+1sgxc8iLFbm2ymzR4myE3aNA3/m/9Bs0Kjx564fDATWqm/foDYQL8+ZGmLijWkJJ/SvfoThIHoOuG1QmCvzL4rR1wWi8MkotqrneJrrYAo+M6VYw1lVSspkvN++OkJQVG98pEkj5QORAICpENGAMTc1XTm2aylLkDgqwNcPEszpMJ/VRYk8uYxEpHvCOI+KwHI7Yxcb3puchQ49YvFcqQ6kUoBpdQ/n46LDOFBXKGUW5XA6YFJmUHz24GpIJJ0ZUkLLhlTC3rfqXmkNCp8PzYwdXkiouuA4e2HswwQEj91i7mTf5rxL+9YL9E448rFyDO3aK45gOoPV6+ycnenYtkcosmN5+mR16pzxdubAzGEQ6ggzJdv/t6/ralDvXNxpdiRW7oIX3y2ikcNwxuo0nTlaiTIV67Vcvs6vXgY54OSkcbtIeETVss/vIi", {
engineLocation: "https://unpkg.com/scandit-sdk/build/"
    }).then(() => {
      console.log('Loaded');
      ScanditSDK.BarcodePicker.create(document.getElementById('barcode-picker'), {
        playSoundOnScan: true,
        vibrateOnScan: true
      }).then(function(barcodePicker) {
        console.log("Ready");
        barcodePicker.applyScanSettings(new ScanditSDK.ScanSettings({
          enabledSymbologies: ["ean8", "ean13", "upca", "upce", "code128", "code39", "code93", "itf", "qr"],
          codeDuplicateFilter: 1000
        }));
        barcodePicker.onScan(function(barcodes) {
          console.log(barcodes);
        });
      });
    });
</script>
</body>

</html>