{% extends 'index.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{% static 'warehouse_dashboard_css.css' %}" type="text/css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{% static 'ProgressBar.js' %}"></script>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">{{request.user.username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>   
    </ul>
  </div>  
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
        {% for data in queryset %}
				<div class="card-header">Welcome {{data.name}}</div>
				<div class="card-body">
					Warehouse Name : {{data.warehouse_name}}<br>
					Warehouse Location : {{data.location}}<br>
					Contact : {{data.contact}}<br>
          {% endfor %}
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" name="myfile">
					  <button type="submit" id="add" class="btn btn-primary" disabled>Add Bill</button>
          </form>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">Capacity</div>
				<div class="card-body">
					<p style="text-align: center;">Percentage total Capacity remaining</p>
					<div id="divProgress" style="cursor: pointer; text-align: center;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$("#divProgress").circularloader({
  backgroundColor: "#ffffff",//background colour of inner circle
  fontColor: "#c58d07",//font color of progress text
  fontSize: "30px",//font size of progress text
  radius: 55,//radius of circle
  progressBarBackground: "#cdcdcd",//background colour of circular progress Bar
  progressBarColor: "#c58d07",//colour of circular progress bar
  progressBarWidth: 10,//progress bar width
  progressPercent: '{{percent}}',//progress percentage out of 100
  showText: true,//show progress text or not/
});
</script>

<div class="card card-1">
  <table class="table table-hover">
    <thead>
      <tr class="h-row">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Property 1</th>
        <th>Property 2</th>
      </tr>
    </thead>
    <tbody>
      {% if instance.all %}
        {% for data in instance %}
          <tr>
            <td>{{data.p_id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.prop1}}</td>
            <td>{{data.prop2}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
  <script type="text/javascript">
    $('input[type=file]').change(function(){
        if($('input[type=file]').val()==''){
            $('#add').attr('disabled',true)
        } 
        else{
          $('#add').attr('disabled',false);
        }
    })
  </script>	
{% endblock %}
